<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
</head>
<body>
<h2>save.html</h2>
<form action="/board/save" method="post">
    <input type="text" name="boardWriter" placeholder="작성자"> <br>
    <input type="password" name="boardPassword" placeholder="비밀번호"> <br>
    <input type="text" name="boardTitle" placeholder="글제목"> <br>
    <textarea name="boardContents" rows="5" placeholder="글내용"></textarea> <br>
    <input type="submit" value="글작성">
</form>

</body>
</html>